.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(156, 69, 11);
  height: 100vh;
}

label {
  font-weight: bolder;
  font-size: 13px;
  color: aliceblue;
  
}

.outputBox {
  width: 40vw;
  height: 50vh;
  border-radius: 12px;
  background-color: rgb(8, 54, 39);
  margin-top: 200px;
  text-align: center;
  padding-top: 160px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  
}

.controls {
  margin-top: 170px;
  width: 40vw;
}

h4 {
  padding-bottom: 50px;
  font-family: 'Raleway', sans-serif;
}

